html {
	height: 100%;
	font-family: 'gentona';
}
body {
	margin: 0;
	height: 100%;
	width: 100%;
	/*background-image: url(img/logo.svg);*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	overflow: hidden;
}
main {
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
	/*background-color: #fde83b;*/
	background-color: #f6a6a8;
}
#logoBig {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background-image: url(img/script-logo.svg);
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	z-index: 12;
	transform: translateY(10px);
	-moz-transform: translateY(10px);
	-webkit-transform: translateY(10px);
}
.surfing #logoBig {
	height: 130px;
	width: calc(50% - 150px);
	background-size: 200px;
	background-image: url(img/script-logo-pink.svg);
	transition: height 300ms ease, background-size 300ms ease, width 300ms ease 700ms, background-image 0ms step-end 400ms;
}
#logoBig.bobbing {
	animation: logo-bob 3.5s ease infinite;
	-moz-animation: logo-bob 3.5s ease infinite;
	-webkit-animation: logo-bob 3.5s ease infinite;	
}
@-webkit-keyframes logo-bob {
	0% {
		-webkit-transform: translateY(10px);
	}
	50%{
		-webkit-transform: translateY(0px);
	}
	100% {
		-webkit-transform: translateY(10px);
	}	
}
@-moz-keyframes logo-bob {
	0% {
		-moz-transform: translateY(10px);
	}
	50%{
		-moz-transform: translateY(0px);
	}
	100% {
		-moz-transform: translateY(10px);
	}	
}
@keyframes logo-bob {
	0% {
		transform: translateY(10px);
	}
	50%{
		transform: translateY(0px);
	}
	100% {
		transform: translateY(10px);
	}	
}
.water {
	background: #009dec;
	/*#1ad0cd*/
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: -54px;
	left: 0;
	transform: translateY(100%);
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
}
.water#back {
	z-index: 11;
}
.water#front {
	opacity: .6;
	z-index: 13;
}
.surfing .water#front {
	opacity: 0;
	transition: opacity 1000ms ease;
	-moz-transition: opacity 1000ms ease;
	-webkit-transition: opacity 1000ms ease;
}
.intro .water {
	transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition: all 1800ms ease;
	-moz-transition: all 1800ms ease;
	-webkit-transition: all 1800ms ease;
}
.surfing .water {
	transform: translateY(100%);
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
	-webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
	bottom: 100px;
	opacity: 1;
}
.waterTop {
	background-image: url(img/water.png);
	background-repeat: repeat-x;
	background-position: center top;
	background-size: auto 54;
	position: absolute;
	width: 100%;
	height: 54px;
	top: -54px;
	left: 0;
	animation: waves 2s linear infinite;
	-webkit-animation: waves 2s linear infinite;	
}
@keyframes waves {
	0% {
		background-position: 0 top;
	} 
	100% {
		background-position: 1024px top;
	}	
}
@-moz-keyframes waves {
	0% {
		background-position: 0 top;
	} 
	100% {
		background-position: 1024px top;
	}	
}
@-webkit-keyframes waves {
	0% {
		background-position: 0 top;
	} 
	100% {
		background-position: 1024px top;
	}	
}

#sun {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50%;
	top: 50%;
	margin: -200px 0 0 -200px;
	color: transparent;
	/*background: #7e80fe;*/
	background: #f5cd00;
	border-radius: 50%;
	cursor: pointer;
	/*transform: translateY(100%);
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);*/
	/*-webkit-transition: all 350ms cubic-bezier(0.420, 0.365, 0.095, 1);
	-webkit-transition: all 350ms cubic-bezier(0.420, 0.365, 0.095, 1.020); 
    -moz-transition: all 350ms cubic-bezier(0.420, 0.365, 0.095, 1.020); 
    -o-transition: all 350ms cubic-bezier(0.420, 0.365, 0.095, 1.020); 
    transition: all 350ms cubic-bezier(0.420, 0.365, 0.095, 1.020);*/
}
#sunWrap {
	z-index: 10;
	position: absolute;
	height: 100%;
	width: 100%;
}

@-webkit-keyframes plop {
	0% {
		-webkit-transform: translateY(-100%) scale(0.6) scaleY(0.5);
	}
	50% {
		-webkit-transform: translateY(10%) scaleY(1.12);
	}
	100% {
		-webkit-transform: translateY(0) scale(1);
	}	
}
@-moz-keyframes plop {
	0% {
		-moz-transform: translateY(-100%) scale(0.6) scaleY(0.5);
	}
	50% {
		-moz-transform: translateY(10%) scaleY(1.12);
	}
	100% {
		-moz-transform: translateY(0) scale(1);
	}	
}
@keyframes plop {
	0% {
		transform: translateY(-100%) scale(0.6) scaleY(0.5);
	}
	50% {
		transform: translateY(10%) scaleY(1.12);
	}
	100% {
		transform: translateY(0) scale(1);
	}	
}
.intro #sunWrap.bobbing #sun {
	animation: bob 2.3s ease infinite;
	-moz-animation: bob 2.3s ease infinite;
	-webkit-animation: bob 2.3s ease infinite;	
}
@-webkit-keyframes bob {
	0% {
		-webkit-transform: translateY(0);
	}
	50%{
		-webkit-transform: translateY(20px);
	}
	100% {
		-webkit-transform: translateY(0);
	}	
}
@-moz-keyframes bob {
	0% {
		-moz-transform: translateY(0);
	}
	50%{
		-moz-transform: translateY(20px);
	}
	100% {
		-moz-transform: translateY(0);
	}	
}
@keyframes bob {
	0% {
		transform: translateY(0);
	}
	50%{
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}	
}
.surfing #sunWrap {
	z-index: 14;

	transition: z-index 0.3s step-end;
	-moz-transition: z-index 0.3s step-end;
	-webkit-transition: z-index 0.3s step-end;

	animation: drop 1s ease;
	-moz-animation: drop 1s ease;
	-webkit-animation: drop 1s ease;

	transform: translateY(49%);
	-moz-transform: translateY(49%);
	-webkit-transform: translateY(49%);
}
.surfing #sunWrap #sun {
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
@-webkit-keyframes drop {
	0% {
		-webkit-transform: translateY(0);
	}
	15% {
		-webkit-transform: translateY(0);
	}
	60% {
		-webkit-transform: translateY(52%);
	}
	100% {
		-webkit-transform: translateY(49%);	
	}
}
@-moz-keyframes drop {
	0% {
		-moz-transform: translateY(0);
	}
	15% {
		-moz-transform: translateY(0);
	}
	60% {
		-moz-transform: translateY(52%);
	}
	100% {
		-moz-transform: translateY(49%);	
	}
}
@keyframes drop {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(52%);
	}
	100% {
		transform: translateY(49%);	
	}
}

#surf {
	position: fixed;
	z-index: 14;
	left: 0;
	bottom: 100px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-size: 60px;
	font-weight: 700;
	color: #f5cd11;
	transform: translateY(200px);
	-moz-transform: -moz-translateY(200px);
	-webkit-transform: -webkit-translateY(200px);
	transition: transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-webkit-transition: -webkit-transform 400ms ease;
}
.ready #surf {
	transform: translateY(0);
	-moz-transform: -moz-translateY(0);
	-webkit-transform: -webkit-translateY(0);
}
.player {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 8;
	opacity: 0;
	transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
	-webkit-transition: opacity 400ms ease;
}

.surfing .player {
	opacity: 1;
}

#static {
	background-image:url(http://media.giphy.com/media/iF3M9gPPCdulq/giphy.gif);
	background-position: center;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.buffering #static {
	display: block;
	z-index: 10;
}

video {
	opacity: 0;
}
#face {
	position: fixed;
	bottom: 0;
	left: 50%;
	z-index: 14;
	margin-left: -100px;
	display: none;
}

.surfing #face {
	display: block;
}

#emotionHub {
	position: fixed;
	z-index: 12;
	bottom: 10px;
	left: 50%;
	opacity: 0;
}
.surfing #emotionHub {
	transition: all 150ms ease 700ms;
	-moz-transition: all 150ms ease 700ms;
	-webkit-transition: all 150ms ease 700ms;
	transform: translateX(200px);
	-moz-transform: translateX(200px);
	-webkit-transform: translateX(200px);
	opacity: 1;
}
#emotions {
	list-style: none;
	padding: 0;
	margin: 0;
}
#emotions .emotion {
	font-size: 20px;
	text-transform: uppercase;
}
#emotions .emotion .name {
	font-weight: 400;
	color: #f6a6a8;
}
#emotions .emotion .value {
	font-weight: 700;
	background: #f5cd00;
	height: 16px;
	display: inline-block;
}

